* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #002E66;
    color: #fff;
}

:root {
    --color-primary: #002E66;
    --color-blue: #565F81;
    --color-blue-light: #F4F5FC;
    --color-grey: #666666;
    --color-grey-light: #F5F5F5;
    --color-white: #ffffff;
    --color-black: #000000;
}

html,
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    overflow-x: hidden;
}

.color-primary {
    color: var(--color-primary);
}

.color-grey {
    color: var(--color-grey);
}

.color-grey-light {
    color: var(--color-grey-light);
}

.color-blue-light {
    color: var(--color-blue-light);
}

.color-blue {
    color: var(--color-blue);
}

.color-white {
    color: var(--color-white);
}

.color-black,
.color-black:hover {
    color: var(--color-black) !important;
}

.background-primary {
    background-color: var(--color-primary);
}

.background-blue {
    background-color: var(--color-blue) !important;
}




.background-amarillo {
    background-color: #FADC41;
}

.background-rojo {
    background-color: #C70B30;
}

.background-rosa {
    background-color: #F77AB4;
}

.background-beige {
    background-color: #886B25;
}

.background-azulina {
    background-color: #6AAEE4;
}

.background-azulelectrico {
    background-color: #0053A6;
}

.background-esmeralda {
    background-color: #007A4D;
}

.background-ciruela {
    background-color: #92D401;
}

.background-tabaco {
    background-color: #4E2F2D;
}

.background-lava {
    background-color: #FF9838;
}

.background-oxido {
    background-color: #A62A2A;
}

.background-negro {
    background-color: #000000;
}

.background-white-opacity {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.background-white-opacity::placeholder {
    color: #fff;
}

.background-white-opacity.form-control {
    color: #fff !important;
}

.background-blanco {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #E5E5E5;
}

.background-grey {
    background-color: var(--color-grey) !important;
}

.background-grey-light {
    background-color: var(--color-grey-light) !important;
}

.background-blue-light {
    background-color: var(--color-blue-light) !important;
}

.background-white {
    background-color: var(--color-white) !important;
}

.background-banner {
    background-color: #DFE2F0;
}

.background-carousel {
    height: 75%;
}

.font-light {
    font-weight: 100 !important;
}

.font-light-italic {
    font-weight: 100 !important;
    font-style: italic;
}

.font-regular {
    font-weight: 400 !important;
}

.font-semibold {
    font-weight: 600 !important;
}

.font-bold {
    font-weight: 700 !important;
}


h1 {
    font-size: calc(32px + (50 - 32) * ((100vw - 320px) / (1920 - 320)));
    /* color: var(--color-white); */
    font-weight: 900;
    color: #002E66;
    position: relative;
}

h2 {
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    position: relative;
}

h3 {
    font-size: calc(28px + (36 - 28) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    position: relative;
}
#categorias h3 {font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));}
#aplicaciones .card h3 {font-size: calc(20px + (36 - 28) * ((100vw - 320px) / (1920 - 320)));}

h4 {
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    position: relative;
}

h5 {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    position: relative;
}
#aplicaciones h5 {
    font-size: calc(12px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
}

h6 {
    font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    position: relative;
}

.font-lab {
    height: 75px;
}

#nav_a a {
    position: relative;
}

#nav_a .active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -27px;
    background-color: var(--color-primary);
    -webkit-transition: .5s cubic-bezier(1, .25, 0, .75);
    transition: .5s cubic-bezier(1, .25, 0, .75);
}

.before-title::before {
    content: '...';
    font-size: 40px;
    color: #A4AED4;
    position: absolute;
    top: -3rem;
    left: 0;
    font-family: 'Grandstander', cursive;
}

.before-title-center::before {
    content: '...';
    font-size: 40px;
    color: #A4AED4;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Grandstander', cursive;
}

.after-title-center::after {
    content: '...';
    font-size: 40px;
    color: #A4AED4;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Grandstander', cursive;
}

.font-year {
    font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 100;
    opacity: 0.6;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    color: #002E66
}

p {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 0;
    color: #666666;
    font-weight: 100;
}

.p-small {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
}


.lineheight-small {
    line-height: 22px;
}

.small {
    font-size: 1rem;
    line-height: 22px;
}

.small-xs {
    font-size: 12px;
    line-height: 16px;
}

strong {
    font-weight: 700;
}

a,
a:hover {
    text-decoration: none;
    color: #565F81;
}

.underline,
.underline:hover {
    text-decoration: underline;
}

.header-social p,
.header-social a {
    color: #565F81;
    font-size: 16px;
    font-weight: 600;
}

nav a {
    font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320)));
    color: #656E91;
    font-weight: 500;
}

nav a.active {
    color: #005FAB;
}

nav a:hover {
    color: #005FAB;
}

#nav-none {
    height: 68px;
}

.dropdown {
    display: none;
    margin-top: -1.9rem;
}

#menu {
    top: 100%;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    display: flex;
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (991 - 320)));
    flex-direction: column;
    font-weight: 600;
    background-color: #fff;
    overflow-y: scroll;
}

.a-stagger {
    display: none;
    opacity: 0;
    text-align: start;
}

.submenu {
    display: none;
    opacity: 0;
    font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (991 - 320)));
}

#color_modal,
#buscador_modal,
#favorito_modal {
    display: none;
    z-index: 100;
}

#buscador_avanzado,
#buscador_avanzado_mobile,
#menu_categorias {
    display: none;
}

.display-none {
    display: none;
}

#buscador_modal .form-control:focus {
    color: #656E91;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
    border-radius: 0;
}

#buscador_modal .form-control::placeholder {
    color: #656E91;
}

.modal-card {
    transform: translateY(200px);
    opacity: 0;
}


footer a {
    color: #CCCCCC !important;
}

footer a:hover {
    color: #A4AED4 !important;
}

.icon-nav {
    width: 28px;
}

.icon-plus-color {
    border-radius: 3px;
    display: none;
}

.icon-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-blue);
    border-radius: 10px;
}

.icon-plus-1 {
    width: 10px;
    height: 2px;
}

.icon-plus-2 {
    width: 2px;
    height: 10px;
}

.num-fav {
    background-color: #EA517A;
    width: 16px;
    height: 16px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    position: absolute;
    top: -2px;
    right: -6px;
    font-weight: 500;
}

.perfil-container {
    border-radius: 200px;
    width: 35px;
    height: 35px;
    position: relative;
}

.perfil-container img {
    height: 100%;
}

.perfil-container p {
    opacity: 0;
    transition: .25s;
}

.tag-noticia {
    position: absolute;
    padding: 0.25rem 1.25rem;
    background-color: #005FAB;
    border-radius: 0.5rem;
    color: #fff;
    border: 2px solid #fff;
}

.mapa {
    width: 100%;
    height: 60vh;
    background-image: url(../img/mapa-contacta.jpg);
    background-position: center;
    background-size: cover;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #E5E5E5;
}

.hr-blue {
    border-top: 1px solid #A4AED4;
}

.hr-vertical {
    border-top: 0;
    height: 100%;
    width: 1px;
    background-color: #707070;
}

.border-0 {
    border: 0;
}

.border-img {
    border: 1px solid #E5E5E5;
    overflow: hidden;
    border-radius: 0.5rem;
}

.border-card {
    border: 1px solid #DFE2F0;
    overflow: hidden;
}

.border-card-left {
    border-left: 1px solid #DFE2F0;
}

.transform-t-50 {
    transform: translateY(50%);
}

.transform-t-n50 {
    transform: translateY(-50%);
}

.transform-t-n50px {
    transform: translateY(-50px);
}

.transform-t-n25 {
    transform: translateY(-25%);
}

.transform-t-20 {
    transform: translateY(-20%);
}

.transform-t-5 {
    transform: translateY(-5%)
}

.t-0 {
    top: 0;
}

.t-1 {
    top: 1rem;
}

.t-2 {
    top: 2.5rem;
}

.b-0 {
    bottom: 0;
}

.l-0 {
    left: 0;
}

.l-1 {
    left: 1rem;
}

.r-0 {
    right: 0;
}

.r-1 {
    right: 1rem;
}

.r-2 {
    right: 2rem;
}

.position-initial {
    position: initial;
}

.position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-center-t {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.position-center-t40 {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-center-t75 {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opacity-0 {
    opacity: 0;
}

.opacity-90 {
    opacity: 0;
}

.opacity-97 {
    opacity: 0.97;
}

.pointer-events-none {
    pointer-events: none;
}

.z-n1 {
    z-index: -1;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-100 {
    z-index: 100;
}

.w-0 {
    width: 0;
    border-bottom: 1px solid #A4AED4;
}

.width-auto {
    width: auto;
}

.vw-50 {
    width: 50vw;
}

.h-68 {
    height: 68px;
}

.scale-08 {
    transform: scale(0.8);
}

.scale-16 {
    transform: scale(1.6);
    transform-origin: right;
}

.border-top {
    border-top: 3px solid #fff !important;
}

.border-right {
    border-right: 3px solid #fff !important;
}

.border-bottom {
    border-bottom: 3px solid #fff !important;
}

.border-left {
    border-left: 3px solid #fff !important;
}

footer {
    background-color: #222222;
}

footer p,
footer a,
footer label {
    color: #fff;
    font-size: 16px;
}

footer .footer-contacta p {
    margin-bottom: 16px;
}

footer .footer-contacta p.text-color-grey {
    color: #CCCCCC !important;
}

footer .footer-contacta a.btn-sub {
    background-color: orange !important;
}


/*bootstrap*/

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 200px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff !important;
    border-color: #000000 !important;
    background-color: #000000 !important;
}

.btn-secundary,
.btn-secundary:hover {
    color: #fff;
    border-color: #fff;
}

.btn-third {
    color: #002E66;
    border-color: #002E66;
    transition: 0.2;
}

.btn-third-black {
    color: #000000;
    border-color: #000000;
    transition: 0.2;
}

.btn-third-black:hover {
    color: #ffffff;
    background-color: #000000;
}

.btn-busqueda,
.btn-busqueda:hover {
    color: #fff;
    background-color: #005FAB;
    border-radius: 0.5rem;
}

.btn-fav,
.btn-fav:hover {
    color: #fff;
    background-color: #656E91;
    border-radius: 0.5rem;
}

.btn-noticia {
    color: #002E66;
    border: 3px solid #DFE2F0;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.btn-noticia:hover {
    background-color: #DFE2F0;
}

.btn-sub,
.btn-sub:hover {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff !important;
}

.btn-upload {
    color: #fff;
    border-color: #000000;
    background-color: #000000;
    border-radius: 0.5rem;
}

.custom-file {
    background-color: #F2F3F8;
    border-radius: 0.5rem;
    height: 72px;
}

/* .btn-fixed,
.btn-fixed:hover {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #000;
    border-radius: 100px;
    z-index: 99;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (991 - 320)));
} */
.btn-fixed, .btn-fixed:hover {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: #000;
    border-radius: 100px;
    z-index: 101;
    -webkit-box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
    color: #fff;
    padding: 1rem;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (991 - 320)));
    width: 60px;
    height: 60px;
    text-align: center;
}

.btn-fixed-whatsapp, .btn-fixed-whatsapp:hover {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #000;
    border-radius: 100px;
    z-index: 101;
    -webkit-box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
    color: #fff;
    padding: 1rem;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (991 - 320)));
    width: 60px;
    height: 60px;
    text-align: center;
}

.btn-products {
    background-color: #005FAB;
    border: 2px solid #fff;
    border-radius: .5rem;
}

.btn-yellow {
    background-color: #F2A616;
    border: 2px solid #fff;
    color: #fff;
    padding: 0rem .5rem;
    border-radius: .5rem;
}

.btn-pink {
    background-color: #EA517A;
    border: 2px solid #fff;
    color: #fff;
    padding: 0rem .5rem;
    border-radius: .5rem;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: .5rem;
}

.card-color {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: .25rem;
    transition: 0.2s;
    position: relative;
}

.color {
    width: 100%;
    height: 70px;
    border-radius: .25rem;
    position: relative;
}

.color-modal {
    width: 650px;
    height: 200px;
    position: relative;
}

.card-color:hover .icon-plus-color {
    display: block;
}

.card-color:hover {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.card-shadow {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.hover-shadow {
    transition: .25s;
}

.cursor-pointer {
    cursor: pointer;
}

.hover-noticia:hover .hover-shadow {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.border-radius-200 {
    border-radius: 200px;
}

.search-bar {
    border-radius: 0.5rem;
    background-color: #DFE2F0;
    border: 1px solid #A4AED4;
}

.carousel-indicators {
    position: relative;
    display: flex;
    justify-content: start;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.flex-inherit {
    flex: inherit;
}

.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-control {
    height: inherit;
    padding: 1rem 1.5rem;
    color: #565F81;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    position: relative;
}

.form-control-border-bottom {
    margin: 1rem 1.5rem;
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #A4AED4;
}

.form-control:focus {
    color: #495057;
    background-color: #DFE2F0;
    border-color: #A4AED4;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
    border-radius: 0;
}

.form-control-search-icon,
.form-control-search-icon:hover,
.form-control-search-icon:focus,
.form-control-search-icon:active {
    display: flex;
    width: 100px;
    background-color: #A4AED4;
    border-right: 0;
    padding: 0.5rem 1.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    height: 50px;
}

.form-control-search {
    display: block;
    width: 100%;
    height: inherit;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565F81;
    background-color: transparent;
    border: 2px solid #A4AED4;
    border-radius: 2000px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:hover,
.carousel-control-prev:hover .carousel-control-next:focus,
.carousel-control-prev:focus .carousel-control-next:active,
.carousel-control-prev:active {
    width: inherit;
    opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #A4AED4;
    padding: 3rem 1.5rem;
    background-size: 1rem;

}

.carousel-control-next-icon {
    background-image: url(../img/carousel-control-next-icon.svg);

}

.carousel-control-prev-icon {
    background-image: url(../img/carousel-control-prev-icon.svg);
}

.carousel-indicators li {
    background-color: #A4AED4;
}

.carousel-indicators-productos {
    padding-left: 0;
    margin-left: 0;
    overflow: hidden;
    overflow-x: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
}

.carousel-indicators-productos li {
    width: auto;
    height: auto;
    background-color: transparent;
    margin-right: 0;
    margin-left: 0;
    text-indent: inherit;
    border: 0;
    opacity: .5;
}

.carousel-indicators-historia li {
    width: auto;
    height: auto;
    background-color: transparent;
    margin-right: 0;
    margin-left: 0;
    text-indent: inherit;
    border: 0;
    opacity: 1;
    color: #656E91;
    font-size: 32px;
    margin-right: 1rem;
}

.img-historia {
    border-radius: 3rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
}

.carousel-indicators-historia li.active {
    font-size: 52px;
    color: #005FAB;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: inherit;
    top: 8px;
    left: -20px;
    width: 8px;
    height: 8px;
    background-color: #005FAB;
    border-radius: 1px;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #E6E8F3;
    border-color: #E6E8F3;
}

.custom-checkbox .custom-control-label::after {
    background-color: #E6E8F3;
    border-radius: 1px;
}

.custom-control-label::after {
    background-color: #E6E8F3;
    border-radius: 50px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: inherit;
    top: 8px;
    left: -20px;
    width: 8px;
    height: 8px;
    background-color: #005FAB;
    border-radius: 10px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #E6E8F3;
    border: 0;
}

.custom-radio .custom-control-label::before {
    border-radius: 100px;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 2px;
}

.carousel-indicators-productos li.active img {
    box-shadow: 0px 0px 0px 3px #A4AED4;
}

.form-group {
    margin-bottom: 0rem;
}







.table {
    min-width: 540px !important;
}

.table thead th {
    border-bottom: 0 !important;
    border-top: 0 !important;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320))) !important;
    font-weight: 600 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important;
}

figure.box-product__figure {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

figure.box-list__figure {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.carousel-inner {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.p-xs-5 {
    padding: 5rem;
}






@media (max-width: 1199px) {
    .font-lab {
        height: 50px;
    }

    .w-lg-150 {
        width: 150% !important;
    }

    .vw-lg-40 {
        width: 40vw;
    }

    .p-xs-5 {
        padding: 4rem;
    }
    #aplicaciones .card h3 {font-size: calc(16px + (36 - 28) * ((100vw - 320px) / (1920 - 320)));}
}

@media (max-width: 991px) {
    .font-lab {
        height: 45px;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .vw-md-50 {
        width: 50vw;
    }

    #menu_categorias {
        position: absolute;
        min-height: 100%;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
        transform: translateX(-100%);
    }

    .background-carousel {
        height: 100%;
    }

    .border-top {
        border-top: 0px solid #fff !important;
    }

    .border-right {
        border-right: 0px solid #fff !important;
    }

    .border-bottom {
        border-bottom: 0px solid #fff !important;
    }

    .border-left {
        border-left: 0px solid #fff !important;
    }

    .border-top-resp {
        border-top: 4px solid #fff !important;
    }

    .p-xs-5 {
        padding: 3rem;
    }
    #aplicaciones .card h3 {font-size: calc(16px + (36 - 28) * ((100vw - 320px) / (1920 - 320)));}
}

@media (max-width: 767px) {
    .w-sm-200 {
        width: 200% !important;
    }

    .vw-md-100 {
        width: 100vw;
    }

    .vw-sm-60 {
        width: 60vw;
    }

    .color-modal {
        width: 144px;
        height: 144px;
    }

    .p-xs-5 {
        padding: 4rem;
    }
}

@media (max-width: 575px) {
    .w-xs-400 {
        width: 400% !important;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        padding: 2.3rem 1.2rem;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-size: 0.8rem;
    }

    .logo {
        width: 150px;
    }

    .vw-xs-90 {
        width: 90vw;
    }

    .color-modal {
        width: 100px;
        height: 100px;
    }

    .miniatura {
        width: 47px;
    }

    .scale-xs-08 {
        transform: scale(0.8);
        transform-origin: left;
    }

    .p-xs-5 {
        padding: 2rem;
    }
}


@media (min-width: 768px) {

    .carousel-inner-multi .carousel-item-right.active,
    .carousel-inner-multi .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner-multi .carousel-item-left.active,
    .carousel-inner-multi .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .carousel-inner-multi .carousel-item-right.active,
    .carousel-inner-multi .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner-multi .carousel-item-left.active,
    .carousel-inner-multi .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .carousel-inner-multi .carousel-item-multi > div {
        display: none;
    }

    .carousel-inner-multi .carousel-item-multi > div:first-child {
        display: block;
    }
}

.carousel-inner-multi .carousel-item-multi.active,
.carousel-inner-multi .carousel-item-next,
.carousel-inner-multi .carousel-item-prev {
    display: flex;
}

.carousel-inner-multi .carousel-item-right,
.carousel-inner-multi .carousel-item-left {
    transform: translateX(0);
}


/* ficha producto, trio iconos */
section.trio-iconos {
    background-color: #F2F3F8;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
section.trio-iconos hr {
    width: 50px;
    border: none;
    border: 2px solid #a4aed4;
    margin: 10px auto;
}
section.trio-iconos p {color: #656E91; font-size: 1.2rem;}


section.productos-relacionados {
    padding-bottom: 4rem;
    border-bottom: 2px solid #A4AED4;
}

.label_out {position: absolute; left: -99999px;}

article.noticia-blog p {margin-bottom: 1rem;}
article.noticia-blog ul, article.noticia-blog ol {margin-left: 1rem;}

.btn-more-info {
    background-color: #F2A616;
}


.add-product {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: block;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-size: 1.25rem;
  }

  .add-product:hover {
    transition: all 0.3s ease-in;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #005FAB !important;
  }

  .add-product:hover * {
    color: #ffffff !important;
  }

  .add-product.active {
    background-color: #005FAB !important;
  }

  .add-product.active * {
    color: #ffffff !important;
  }

  .btn-icon {
    color: #005FAB;
    border-radius: 8px;
    background-color: white;
    width: 40px;
    height: 40px;
    display: block;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-size: 1.25rem;
    margin-left: 1rem;
    border: 2px solid #005FAB;
    position: relative;
  }

  .favorit.btn-icon:hover,
  .favorit.btn-icon.active {
    background-color: #005FAB;
    color: white;
  }

  .btn-icon i {
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
  }



.header-social a i.fa.fa-envelope-o{color:#F2A616!important}


a.link-contacta i{
    color:#07bc4c;
    margin-right: 1rem;
}

a.link-contacta i {
    font-size: 26px;
}
a.link-contacta {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
a.link-contacta small{
    line-height:26px
}

figure.box-product__figure.img-modal-color {
    max-height: 250px;
}