<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    redirect 301 /visillos/ https://www.cinpasa.com/noticias
    redirect 301 /visillos-estores-decora-cocina https://www.cinpasa.com/noticias
    redirect 301 /videos https://www.cinpasa.com/noticias
    redirect 301 /ventilar-la-casa https://www.cinpasa.com/noticias
    redirect 301 /ventajas-las-cortinas-de-aluminio https://www.cinpasa.com/noticias
    redirect 301 /ventajas-e-inconvenientes-de-las-cintas-tipo-velcro https://www.cinpasa.com/noticias
    redirect 301 /velcro-doble-cara https://www.cinpasa.com/noticias
    redirect 301 /utilizar-estores-tan-buena-idea https://www.cinpasa.com/noticias
    redirect 301 /usos-alternativos-para-barras-de-cortinas https://www.cinpasa.com/noticias
    redirect 301 /unas-cortinas-de-revista https://www.cinpasa.com/noticias
    redirect 301 /trucos-mejores-cortinas-interiores-hogar https://www.cinpasa.com/noticias
    redirect 301 /top-3-cortinas-veraniegas-para-tu-apartamento-de-playa https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-puntadas https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-nudos https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-estores https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-cortinas https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-cortinas-que-desconocias https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-cortinas-de-verano-para-tu-hogar https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-cordones-especiales https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-cintas-para-cortinas-segun-tus-necesidades https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-cintas-de-cortina https://www.cinpasa.com/noticias
    redirect 301 /tipos-de-barras-de-cortinas-segun-efecto https://www.cinpasa.com/noticias
    redirect 301 /tipos-cortinas-aplicaciones https://www.cinpasa.com/noticias
    redirect 301 /tipos-cintas-textiles https://www.cinpasa.com/noticias
    redirect 301 /tipos-cinta-adhesiva-usos https://www.cinpasa.com/noticias
    redirect 301 /tipos-barras-cortinas https://www.cinpasa.com/noticias
    redirect 301 /tendencias-decoracion-ventanas https://www.cinpasa.com/noticias
    redirect 301 /telas-para-cortinas https://www.cinpasa.com/noticias
    redirect 301 /telas-cortina-materiales-estan-hechas https://www.cinpasa.com/noticias
    redirect 301 /tejido-ignifugo https://www.cinpasa.com/noticias
    redirect 301 /tabla-de-averias-de-una-cortina https://www.cinpasa.com/noticias
    redirect 301 /soportes-de-cortinas https://www.cinpasa.com/noticias
    redirect 301 /sistemas-soporte-cortinas-tipos-se-diferencian https://www.cinpasa.com/noticias
    redirect 301 /seguridad-para-instaladores-de-cortinas https://www.cinpasa.com/noticias
    redirect 301 /sacar-una-mancha-chocolate-una-cortina https://www.cinpasa.com/noticias
    redirect 301 /sabes-como-medir-las-ventanas-antes-de-instalar-las-cortinas https://www.cinpasa.com/noticias
    redirect 301 /ropa-veraniega-con-cintas https://www.cinpasa.com/noticias
    redirect 301 /retirar-cinta-adhesiva https://www.cinpasa.com/noticias
    redirect 301 /reformar-el-salon-sin-obras https://www.cinpasa.com/noticias
    redirect 301 /que-tipos-de-cortinas-minimalistas-existen-te-lo-contamos https://www.cinpasa.com/noticias
    redirect 301 /que-tipos-de-correas-para-perros-existen https://www.cinpasa.com/noticias
    redirect 301 /que-tipos-de-cintas-elasticas-existen-utilidad https://www.cinpasa.com/noticias
    redirect 301 /que-son-las-cortinas-venecianas-tipos-y-materiales https://www.cinpasa.com/noticias
    redirect 301 /proyectos-decoracion https://www.cinpasa.com/lab/5
    redirect 301 /proyectos-de-decoracion-de-espacios https://www.cinpasa.com/lab/5
    redirect 301 /project-category/terminal-plastica-inyectada https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/sublimadas https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/serigrafiado https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/serie-loop https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/rollos-50-metros https://www.cinpasa.com/
    redirect 301 /project-category/rollos-25-metros https://www.cinpasa.com/
    redirect 301 /project-category/rod-con-presillas-de-hilos https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/rafia https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/pvc https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/pes-cinta-de-poliester/page/3 https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/pes-cinta-de-poliester/page/2 https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/pes-cinta-de-poliester https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/pasamaneria https://www.cinpasa.com/productos/pasamaneria
    redirect 301 /project-category/pa-cintas-polipropileno https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/pa-cintas-poliamida-cinta-segun-composicion https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/onda-perfecta https://www.cinpasa.com/productos/cintas-onda-perfecta
    redirect 301 /project-category/oferta-liquidacion-stocks https://www.cinpasa.com/
    redirect 301 /project-category/o-65-mm https://www.cinpasa.com/
    redirect 301 /project-category/o-42-mm https://www.cinpasa.com/
    redirect 301 /project-category/o-2-mm-2 https://www.cinpasa.com/
    redirect 301 /project-category/o-19-mm https://www.cinpasa.com/
    redirect 301 /project-category/o-16-mm https://www.cinpasa.com/
    redirect 301 /project-category/o-15-mm https://www.cinpasa.com/
    redirect 301 /project-category/o-13-mm https://www.cinpasa.com/
    redirect 301 /project-category/o-1-mm-2 https://www.cinpasa.com/
    redirect 301 /project-category/nomex https://www.cinpasa.com/
    redirect 301 /project-category/navet https://www.cinpasa.com/
    redirect 301 /project-category/kevlar https://www.cinpasa.com/
    redirect 301 /project-category/gomas-elasticas https://www.cinpasa.com/cintas-elasticas-gomas
    redirect 301 /project-category/fruncidoras-tablas https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-libres/page/2 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-libres https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-fantasia/page/3 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-fantasia/page/2 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-fantasia https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-automaticas/page/4 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-automaticas/page/3 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-automaticas/page/2 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-automaticas https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/fruncidoras-automaticas-dobles https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/enfajados https://www.cinpasa.com/productos/cordones
    redirect 301 /project-category/encrestadoras-manuales https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/encrestadoras-automaticas-cinta-fruncidoras/page/2 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/encrestadoras-automaticas-cinta-fruncidoras https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/easy-con-presillas-para-barras https://www.cinpasa.com/productos/cintas-para-barras
    redirect 301 /project-category/dyneema https://www.cinpasa.com/
    redirect 301 /project-category/cortina https://www.cinpasa.com/
    redirect 301 /project-category/cortadas https://www.cinpasa.com/
    redirect 301 /project-category/correas-y-arneses-cintas-por-aplicacion-2 https://www.cinpasa.com/
    redirect 301 /project-category/cordon-cinta-calzado https://www.cinpasa.com/
    redirect 301 /project-category/cintas-tipo-velcro https://www.cinpasa.com/productos/cintas-para-velcro
    redirect 301 /project-category/cintas-tecnicas/page/3 https://www.cinpasa.com/productos/cintas-tecnicas
    redirect 301 /project-category/cintas-tecnicas/page/2 https://www.cinpasa.com/productos/cintas-tecnicas
    redirect 301 /project-category/cintas-tecnicas https://www.cinpasa.com/productos/cintas-tecnicas
    redirect 301 /project-category/cintas-refuerzo/page/9 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/page/8 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/page/7 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/pae/6 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/page/5 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/page/4 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/page/3 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/page/2 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/page/11 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo/page/10 https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-refuerzo https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cintas-por-aplicacion-2/page/4 https://www.cinpasa.com/aplicaciones
    redirect 301 /project-category/cintas-por-aplicacion-2/page/3 https://www.cinpasa.com/aplicaciones
    redirect 301 /project-category/cintas-por-aplicacion-2/page/2 https://www.cinpasa.com/aplicaciones
    redirect 301 /project-category/cintas-por-aplicacion-2 https://www.cinpasa.com/aplicaciones
    redirect 301 /project-category/cintas-por-acabado/page/2 https://www.cinpasa.com/aplicaciones
    redirect 301 /project-category/cintas-por-acabado https://www.cinpasa.com/aplicaciones
    redirect 301 /project-category/cintas-polipropileno-para-asas https://www.cinpasa.com/productos/cinta
    redirect 301 /project-category/cintas-personalizada-cliente https://www.cinpasa.com/productos/cinta
    redirect 301 /project-category/cintas-para-packaging/page/2 https://www.cinpasa.com/aplicaciones
    redirect 301 /project-category/cintas-para-packaging https://www.cinpasa.com/aplicaciones
    redirect 301 /project-category/cintas-para-barras/page/5 https://www.cinpasa.com/productos/cintas-para-barras
    redirect 301 /project-category/cintas-para-barras/page/4 https://www.cinpasa.com/productos/cintas-para-barras
    redirect 301 /project-category/cintas-para-barras/page/3 https://www.cinpasa.com/productos/cintas-para-barras
    redirect 301 /project-category/cintas-para-barras/page/2 https://www.cinpasa.com/productos/cintas-para-barras
    redirect 301 /project-category/cintas-para-barras https://www.cinpasa.com/productos/cintas-para-barras
    redirect 301 /project-category/cintas-fruncidoras/page/8 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cintas-fruncidoras/page/7 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cintas-fruncidoras/page/6 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cintas-fruncidoras/page/5 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cintas-fruncidoras/page/4 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cintas-fruncidoras/page/3 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cintas-fruncidoras/page/2 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cintas-fruncidoras https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cintas-elasticas https://www.cinpasa.com/productos/cintas-elasticas-gomas
    redirect 301 /project-category/cintas-cortina https://www.cinpasa.com/productos/cintas-para-cortina
    redirect 301 /project-category/cinta-transportadora https://www.cinpasa.com/aplicaciones/tecnico-industrial
    redirect 301 /project-category/cinta-segun-composicion/page/6 https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/cinta-segun-composicion/page/5 https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/cinta-segun-composicion/page/4 https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/cinta-segun-composicion/page/3 https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/cinta-segun-composicion/page/2 https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/cinta-segun-composicion https://www.cinpasa.com/productos/cintas
    redirect 301 /project-category/cinta-para-uso-industrial-2/page/2 https://www.cinpasa.com/aplicaciones/tecnico-industrial
    redirect 301 /project-category/cinta-para-uso-industrial-2 https://www.cinpasa.com/aplicaciones/tecnico-industrial
    redirect 301 /project-category/cinta-para-persianas https://www.cinpasa.com/productos/cintas-tecnicas
    redirect 301 /project-category/cinta-para-envolver-regalos https://www.cinpasa.com/productos/cinta
    redirect 301 /project-category/cinta-para-banderas https://www.cinpasa.com/productos/cintas-tecnicas
    redirect 301 /project-category/cinta-no-tejida-de-refuerzo https://www.cinpasa.com/productos/cintas-de-refuerzo
    redirect 301 /project-category/cinta-fruncidoras/page/9 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-fruncidoras/page/8 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-fruncidoras/page/7 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-fruncidoras/page/6 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-fruncidoras/page/5 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-fruncidoras/page/4 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-fruncidoras/page/3 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-fruncidoras/page/2 https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-fruncidoras https://www.cinpasa.com/productos/cintas-fruncidoras
    redirect 301 /project-category/cinta-estores-y-visillos/page/2 https://www.cinpasa.com/productos/cinta-para-visillos-y-estores
    redirect 301 /project-category/cinta-estores-y-visillos https://www.cinpasa.com/productos/cinta-para-visillos-y-estores
    redirect 301 /project-category/cinta-cortina/page/9 https://www.cinpasa.com/productos/cintas-para-cortina

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]


</IfModule>
